{
  "$schema": "http://json.schemastore.org/prettierrc",
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "printWidth": 120,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "^api/(.*)$",
    "^config/(.*)$",
    "^components/(.*)$",
    "^core-ui/(.*)$",
    "^context/(.*)$",
    "^hooks/(.*)$",
    "^helpers|utils/(.*)$",
    "^interfaces/(.*)$",
    "^routes/(.*)$",
    "^pages/(.*)$",
    "^[./]((?!.(sc|sa|c)ss)(?!.json).)*$",
    "^assets/(.*)$",
    "\\.json$",
    "\\.(sc|sa|c)ss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
